 .u-section-1 {
  background-image: linear-gradient(to right, #db545a, #7e35aa);
}

.u-section-1 .u-sheet-1 {
  min-height: 145px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 145px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 245px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 319px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 696px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1202px;
  margin: 0 auto 25px -62px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 679px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px 12px 0;
}

.u-section-2 .u-list-1 {
  margin: 12px auto 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 216px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 1px 10px;
}

.u-section-2 .u-icon-1 {
  width: 25px;
  height: 25px;
  background-image: none;
  color: rgb(77, 77, 77) !important;
  margin: 18px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: -43px 0 0 25px;
}

.u-section-2 .u-text-3 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0 0 0 25px;
}

.u-section-2 .u-text-4 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0 0 0 25px;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 1px 10px;
}

.u-section-2 .u-icon-2 {
  width: 25px;
  height: 25px;
  background-image: none;
  color: rgb(77, 77, 77) !important;
  margin: 18px auto 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: -43px 0 0 25px;
}

.u-section-2 .u-text-6 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0 0 0 25px;
}

.u-section-2 .u-text-7 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0 0 0 25px;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 1px 10px;
}

.u-section-2 .u-icon-3 {
  width: 25px;
  height: 25px;
  background-image: none;
  color: rgb(77, 77, 77) !important;
  margin: 18px auto 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: -43px 0 0 25px;
}

.u-section-2 .u-text-9 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0 0 0 25px;
}

.u-section-2 .u-text-10 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0 0 0 25px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 679px;
}

.u-section-2 .u-container-layout-5 {
  padding: 6px 0 0;
}

.u-section-2 .u-group-1 {
  min-height: 665px;
  box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.4);
  text-shadow: 3px 3px 4px rgba(0,0,0,0);
  background-image: none;
  width: 625px;
  margin: 0 auto 0 12px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 13px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 679px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  width: 366px;
  min-height: 664px;
  margin: 6px -71px 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 27px 30px 5px;
}

.u-section-2 .u-text-11 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    transition-duration: 0.5s;
    min-height: 531px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 204px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -58px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 531px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 531px;
  }

  .u-section-2 .u-group-2 {
    width: 229px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-list-1 {
    width: 153px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 407px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-group-1 {
    width: 547px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 422px;
  }

  .u-section-2 .u-group-2 {
    width: 174px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1678px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 529px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 1187px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1091px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 747px;
  }
}

.u-section-2 .u-layout-cell-1:not([data-block-selected]) {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {
    background-color: #D32F2F;
    font-family: 'Calibri', sans-serif !important
}

.card-no-border .card {
    border: 0px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    margin-top: -100px;
}

.comment-widgets .comment-row:hover {
    background: rgba(0, 0, 0, 0.02);
    cursor: pointer
}

.comment-widgets .comment-row {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    padding: 15px
}

.comment-text:hover {
    visibility: hidden
}

.comment-text:hover {
    visibility: visible
}

.label {
    padding: 3px 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 75%
}

.round img {
    border-radius: 100%
}

.label-info {
    background-color: #1976d2
}

.label-success {
    background-color: green
}

.label-danger {
    background-color: #ef5350
}

.action-icons a {
    padding-left: 7px;
    vertical-align: middle;
    color: #99abb4
}

.action-icons a:hover {
    color: #1976d2
}

.mt-100 {
    margin-top: 100px
}

.mb-100 {
    margin-bottom: 100px
}