 .u-section-1 {
  background-image: linear-gradient(#23a7fd, #db545a);
  min-height: 706px;
}

.u-section-1 .u-shape-1 {
  height: 469px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 342px;
  object-position: 50% 0%;
  margin: -105px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -645px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 589px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  line-height: 1.8;
  font-style: italic;
  font-size: 1.125rem;
  margin: 16px 30px 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 41px;
  min-height: 16px;
  width: 102px;
  min-width: 52px;
  margin: 30px 30px 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 529px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  margin: 0;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  font-weight: 700;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  font-weight: 700;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-input-3 {
  font-weight: 700;
}

.u-section-1 .u-form-group-4 {
  width: 100%;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
}

.u-section-1 .u-input-4 {
  font-weight: 700;
}

.u-section-1 .u-form-group-5 {
  width: 100%;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
}

.u-section-1 .u-input-5 {
  font-weight: 700;
}

.u-section-1 .u-form-group-6 {
  width: 100%;
}

.u-section-1 .u-label-6 {
  font-weight: 700;
}

.u-section-1 .u-input-6 {
  font-weight: 700;
}

.u-section-1 .u-form-group-7 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  font-weight: 700;
  font-size: 1.125rem;
  box-shadow: 3px 3px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 700px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -111px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -639px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 486px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 436px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1316px;
  }

  .u-section-1 .u-shape-1 {
    height: 1053px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 324px;
    margin-top: -61px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1255px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .move-box {
    margin-left: 10px;
  } 
  .move-cabecalho {
    margin-bottom: 10px;
  } 
  .move-menu {
    margin-right: 15px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1141px;
  }

  .u-section-1 .u-shape-1 {
    height: 825px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 204px;
    margin-top: 170px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1080px;
    margin-bottom: 220px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 271px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: 55px;
  }
}

@media (min-width: 770px) {
  .move-box2 {
    margin-left: 860px;
  } 
}