 .u-section-1 {
  background-image: linear-gradient(45deg, #db545a, #478ac9);
  min-height: 688px;
}

.u-section-1 .u-gallery-1 {
  height: 688px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-group-1 {
  width: 438px;
  min-height: 401px;
  margin: -472px calc(((100% - 1140px) / 2) + 66px) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-1 {
  width: 234px;
  height: 236px;
  object-position: 100% 100%;
  margin: 33px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 800;
  box-shadow: 3px 3px 11px 0 rgba(77,77,77,1);
  margin: -576px calc(((100% - 1140px) / 2) + 66px) 534px auto;
  padding: 32px 60px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-1 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-1 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2) + 66px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2) + 66px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 720px) / 2) + 66px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2) + 66px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 330px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    padding-left: 11px;
    padding-right: 11px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 549px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 46px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 443px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-list-1 {
  width: 550px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-repeater-1 {
  min-height: 400px;
  grid-template-columns: 100%;
  grid-gap: 5px 5px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 52px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 6rem;
  margin: 70px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 443px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-list-2 {
  width: 530px;
  margin: 9px auto 0;
}

.u-section-2 .u-repeater-2 {
  min-height: 195px;
  grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
  grid-gap: 5px 5px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  width: 166px;
  margin: 46px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  width: 166px;
  margin: 46px auto 0;
}

.u-section-2 .u-list-3 {
  width: 530px;
  margin: 8px auto 0;
}

.u-section-2 .u-repeater-3 {
  min-height: 188px;
  grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
  grid-gap: 5px 5px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-2 .u-list-1 {
    width: 470px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 400px;
  }

  .u-section-2 .u-list-2 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 191px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 26px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-3 {
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 511px;
  }

  .u-section-2 .u-list-1 {
    width: 360px;
    margin-right: -12px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 487px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 511px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
    min-height: 247px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 4px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 16px;
  }

  .u-section-2 .u-list-3 {
    margin-top: 4px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-3 {
    min-height: 226px;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 253px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 23px;
    margin-bottom: 23px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 261px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 628px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 279px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-2 .u-list-3 {
    margin-top: 22px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-3 {
    min-height: 314px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 34px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 34px;
  }
} .u-section-3 {
  background-image: linear-gradient(to right, #478ac9, #db545a);
}

.u-section-3 .u-sheet-1 {
  min-height: 768px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  font-weight: 700;
  font-size: 3.75rem;
  width: 667px;
  margin: 102px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 54px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 424px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  text-transform: none;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-3 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto 0;
  padding: 12px 44px 13px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 424px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-video-1 {
  height: 370px;
  width: 658px;
  margin: 27px auto 0;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 27px;
    margin-bottom: 50px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 350px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 350px;
  }

  .u-section-3 .u-video-1 {
    height: 265px;
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-btn-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 268px;
  }

  .u-section-3 .u-video-1 {
    height: 203px;
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 219px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 138px;
  }

  .u-section-3 .u-video-1 {
    height: 192px;
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 304px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 232px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  line-height: 2;
}

.u-section-4 .u-list-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-4 .u-list-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-4 .u-list-icon-3 {
  color: rgb(255, 255, 255) !important;
}

.u-section-4 .u-list-icon-4 {
  color: rgb(255, 255, 255) !important;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 232px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 60px 20px 34px;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 191px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 198px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }
 
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .move-box {
    margin-left: 10px;
  } 
  .move-cabecalho {
    margin-bottom: 10px;
  } 
  .move-menu {
    margin-right: 15px;
  }

}

@media (min-width: 770px) {
  .move-box2 {
    margin-left: 860px;
  } 
}