 .u-section-1 {
  background-image: url("images/6caa7b1c-75fa-52cf-caec-200c4e73249c.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 671px;
}

.u-section-1 .u-group-1 {
  width: 530px;
  min-height: 488px;
  background-image: none;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1;
  font-family: "PT Sans", sans-serif;
  width: 156px;
  margin: 3px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 56px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-label-1 {
  font-size: 0.75rem;
}

.u-section-1 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-size: 0.75rem;
}

.u-section-1 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-size: 0.75rem;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  width: 100%;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 20px 71px 0 35px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 553px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 424px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-form-1 {
    margin-top: -1px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 47px;
    margin-right: 47px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 409px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 55px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 294px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-image-1 {
  width: 456px;
  object-position: 100% 50%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 294px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 30px 30px 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px 0 0 30px;
}

.u-section-2 .u-form-1 {
  height: 124px;
  margin: -1px 0 0 20px;
}

.u-section-2 .u-input-1 {
  font-size: 0.875rem;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  padding: 5px 31px 5px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 242px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 242px;
  }

  .u-section-2 .u-form-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 185px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 278px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 175px;
  }
}